.pass2{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 25px;
    margin-left: 35px;
}
.pass{
    text-align: center;
    font-size:30px;
    line-height: 2.0;
  font-weight:bold;
  color: #80A8ff;
  text-shadow: 0.02em 0.02em 0.02em rgba(0,0,0,1);
}
.fa{
    
    font-size:20px;
    
}

 /*#fieldPassword {
    
    text-align: center;
  }*/

  