body{
    background-color: #eaf2fc;
}

.logoimg{
    width:120px;
    height:60px;
}

.Your-div{
/* 	width:25px;
    text-align: left;
    position:relative;
    top:500px; */
}

.Your{
	width:25px;
    text-align: left;
    position:relative;
    top:500px;
    border: 3px solid #80A8ff;
    border-radius: 100px;
    padding: 25px;
    box-sizing: border-box;
    background: #eaf2fc;
    color: #80A8ff;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
	transition:0.5s;
}

.Your:hover {
	color: #eaf2fc;
	background: #80A8ff;
}

.List-div{
	idth:25px;
    text-align: center;
    position:relative;
    top:500px;
}

.List{
    border: 3px solid #80A8ff;
    border-radius: 100px;
    padding: 25px;
    box-sizing: border-box;
    background: #eaf2fc;
    color: #80A8ff;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
	transition:0.5s;
}

.List:hover{
    color: #eaf2fc;
	background: #80A8ff;
}

.My-div{
    text-align: right;
    position:relative;
    top:500px;
}

.My{
    border: 3px solid #80A8ff;
    border-radius: 100px;
    padding: 25px;
    box-sizing: border-box;
    background: #eaf2fc;
    color: #80A8ff;
    text-decoration: none;
    text-align: center;
    margin: 10px 0;
	transition:0.5s;
}

.My:hover{
    color: #eaf2fc;
	background: #80A8ff;
}