body{
    background-color: #eaf2fc;
}

.logoimg{
    width:120px;
    height:60px;
}

.bottom-menu {
    position:fixed;
    bottom: 0px;
    justify-content: center;
    padding: 10px;
    display: flex;
    z-index: 0;
}
  
  .bottom-menu a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    margin: 0 20px;
    z-index: 0;
}

.profile-img{
    text-align: center;
    z-index: 0;
}

#my-box {
    position: relative;
    display: none;
    bottom:100px;
    background-color: #f2f2f2;
    padding: 10px;
    margin-top: 10px;
    z-index: 99;
}
  
#my-button {
    position: relative;
    bottom: 100px;
    left:190px;
    padding: 10px;
    z-index: 99;

/*     border: 3px solid #eaf2fc; */
    border-radius: 100px;
    width: 30px;
    padding: 30px;
    box-sizing: border-box;
    background: #80A8ff;
    color: #eaf2fc;
    text-decoration: none;
    text-align: center;
	transition:0.5s;
}